.stats {
  margin-left: auto;
  margin-right: auto;

  width: 500px;

  border: 1px solid gray;
  background-color: white;
}

.title {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.items {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  width: calc(100% / 5);
}

.docx {
  composes: item;
  background-color: green;
}
.pdf {
  composes: item;
  background-color: greenyellow;
}
.psd {
  composes: item;
  background-color: grey;
}
.pdf {
  composes: item;
  background-color: hotpink;
}

.mp3 {
  composes: item;
  background-color: lightblue;
}

.percentage {
  padding-top: 5px;
}
